[[source]]
url = "https://pypi.python.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]


sphinx = "~=7.4.7"
sphinx-rtd-theme = "~=3.0.2"
prospector = "~=1.14.1"
coverage = "~=7.6.12"
nose-htmloutput = "~=0.6.0"
tox = "~=4.24.1"
betamax = "~=0.9.0"
betamax-serializers = "~=0.2.1"
semver = "~=3.0.4"
gitwrapperlib = "~=1.0.4"
twine = "~=6.1.0"
coloredlogs = "~=15.0.1"
emoji = "~=2.14.1"
toml = "~=0.10.2"


[packages]
requests = "~=2.32.3"
dateutils = "~=0.6.12"
beautifulsoup4 = "~=4.13.3"
cachetools = "~=5.5.1"
