#
# Please do not manually update this file since the requirements are managed
# by pipenv through Pipfile and Pipfile.lock .
#
# This file is created and managed automatically by the template and it is left
# here only for backwards compatibility reasons with python's ecosystem.
#
# Please use Pipfile to update the requirements.
#
requests~=2.34.2 ; python_version >= '3.10'
dateutils~=0.6.12
beautifulsoup4~=4.15.0 ; python_full_version >= '3.7.0'
cachetools~=7.2.0 ; python_version >= '3.10'